* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img{
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(147, 159, 163);
}

.white {
  background-color: rgb(202, 207, 167);
}

.selected {
  background-color: rgb(17, 154, 44);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color:  rgb(17, 154, 44);
}

.danger {
  background-color: rgb(199, 205, 24);
}

.lost {
  height: calc(50vh - 60px);
  width: calc(50vh - 20px);
  text-align: center;
  padding: 30px;
  margin-left: 50px;
  background-color: antiquewhite;
}

.figureLogo{
  width: 20px;
  height: 20px;
}

.modalStyles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000
}

.modalContentStyles {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}